@using InternetShop.YandexKassa.Areas.YandexKassa.Controllers
@using InternetShop.YandexKassa.Areas.YandexKassa.Models

@{
    ViewData["Title"] = "Яндекс.Касса";
}

<h1>Яндекс.Касса</h1>

<p>
    Здесь мы эмилируем редирект на внешнюю службу оплаты Яндекс.Кассы. 
    В исходном коде проекта можно посмотреть, как передаются параметры.
</p>

<form action="@Url.Action(nameof(HomeController.Callback))" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="returnUri" value="@Model.ReturnUri" />
    <button type="submit" class="btn btn-success">Оплатить</button>
</form>
